<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.coenraets.employeedirectory"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>eConference</name>

    <description>
        This is a demo of the beta application eConference.
    </description>

    <author href="http://cauemotta.com" email="caue@cauemotta.com">
        Caue Motta
    </author>
	
	<feature name="Contacts">
    <param name="android-package" value="org.apache.cordova.ContactManager" />
</feature>

	<feature name="Camera">
		<param name="android-package" value="org.apache.cordova.CameraLauncher" />
	</feature>
	<feature name="Compass">
    <param name="android-package" value="org.apache.cordova.CompassListener" />
</feature>

	<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>
	
	<feature name="Storage">
    <param name="android-package" value="org.apache.cordova.Storage" />
</feature>

	<feature name="Media">
    <param name="android-package" value="org.apache.cordova.AudioHandler" />
</feature>

</widget>
